# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# styleguide build folder
/styleguide-build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
npm-lock.json
package-lock.json
yarn-debug.log*
yarn-error.log*

/.vscode
/src/styles/index.css

#.idea
/.idea